.home {
  text-align: center;

  .hero {
    height: 90vh;
    background: url("../img/hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .contenido {
      background: rgba(0, 0, 0, 0.6);
      padding: 30px;
      border-radius: 10px;

      h1 {
        font-size: 48px;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

// RESPONSIVE
@media (max-width: 768px) {
  .home .hero {
    height: 70vh;

    .contenido h1 {
      font-size: 32px;
    }
  }
}